[Unit]
Description=rTorrent
After=network.target

[Service]
Type=forking
KillMode=none
User=torrents
ExecStartPre=/usr/bin/bash -c "if test -e /media/data/Unsorted/.session/rtorrent.lock && test -z `pidof rtorrent`; then rm -f /media/data/Unsorted/.session/rtorrent.lock; fi"
ExecStart=/usr/bin/screen -dmfa -S torrents /usr/bin/rtorrent
ExecStop=/usr/bin/bash -c "test `pidof rtorrent` && killall -w -s 2 /usr/bin/rtorrent"
#WorkingDirectory=%h
Restart=on-failure

[Install]
WantedBy=multi-user.target

